In [1]:
import pandas as pd
import numpy as np
import random

In [2]:
# Get a random number between 2 numbers in an array,
# specify decimal places (int)

def rand(range_array, decimal_places):
    low = min(range_array)
    high = max(range_array)
    if decimal_places == 0:
        return random.randint(low, high)
    elif decimal_places < 0:
        return int(round(random.uniform(low, high), decimal_places))
    else:
        return round(random.uniform(low, high), decimal_places)

In [3]:
# Generate case list

high_GPA_range = [4.0, 5.0]
avg_GPA_range = [3.0, 3.9]
low_GPA_range = [1.0, 2.9]
GPA_ranges = [high_GPA_range, avg_GPA_range, low_GPA_range]

high_SAT_range = [1400, 1600]
avg_SAT_range = [1050, 1390]
low_SAT_range = [400, 1040]
SAT_ranges = [high_SAT_range, avg_SAT_range, low_SAT_range]

high_curr_range = [7, 10]
avg_curr_range = [4, 6]
low_curr_range = [1, 3]
curr_ranges = [high_curr_range, avg_curr_range, low_curr_range]

high_interest_range = [7, 10]
avg_interest_range = [4, 6]
low_interest_range = [0, 3]
interest_ranges = [high_interest_range, avg_interest_range,
                   low_interest_range]


case_list = []
random.seed(111)

for i in range(len(GPA_ranges)):
    for j in range(len(SAT_ranges)):
        for k in range(len(curr_ranges)):
            for l in range(len(interest_ranges)):
                rand_ID = str(random.randint(0, 99999)).zfill(5)
                rand_gpa = rand(GPA_ranges[i], 1)
                rand_sat = rand(SAT_ranges[j], -1)
                rand_curr_strength = rand(curr_ranges[k], 0)
                rand_dem_interest = rand(interest_ranges[l], 0)
                case_list.append([str(rand_ID), str(rand_gpa),
                                  str(rand_sat), str(rand_curr_strength),
                                  str(rand_dem_interest)])
                # Randomize order
                random.shuffle(case_list)

print(case_list)

[['01980', '2.6', '1510', '9', '4'], ['26530', '4.9', '1130', '7', '0'], ['41791', '3.8', '630', '4', '2'], ['14462', '1.1', '1100', '4', '3'], ['92788', '2.4', '1080', '1', '0'], ['88283', '3.3', '740', '2', '8'], ['26825', '4.2', '1350', '1', '5'], ['37759', '1.8', '1160', '4', '8'], ['96928', '4.5', '1570', '3', '7'], ['91917', '4.7', '870', '1', '6'], ['51986', '4.2', '1090', '9', '4'], ['30894', '4.5', '830', '7', '1'], ['64636', '4.3', '1040', '3', '2'], ['55939', '2.6', '430', '3', '5'], ['02002', '3.7', '1210', '4', '9'], ['60298', '4.9', '1470', '6', '0'], ['56749', '1.7', '1530', '9', '2'], ['54653', '4.6', '1430', '8', '6'], ['46090', '1.3', '860', '9', '3'], ['54685', '3.9', '1300', '8', '6'], ['59304', '4.1', '1170', '7', '7'], ['72880', '4.1', '1060', '2', '7'], ['87664', '2.7', '1590', '6', '9'], ['67192', '4.3', '1000', '3', '9'], ['94506', '1.6', '1490', '9', '8'], ['15091', '4.7', '1330', '6', '4'], ['53862', '4.4', '1260', '4', '10'], ['28885', '3.1', '1540', '5', '6'], ['37718', '4.0', '800', '6', '9'], ['91377', '2.6', '1080', '10', '4'], ['74542', '4.5', '1410', '5', '6'], ['00990', '3.7', '970', '3', '1'], ['79816', '3.5', '840', '3', '6'], ['64055', '5.0', '1550', '2', '6'], ['73280', '4.2', '1530', '10', '3'], ['55203', '3.1', '570', '6', '5'], ['30109', '4.7', '1220', '2', '2'], ['46328', '3.1', '930', '7', '4'], ['86485', '1.4', '1030', '4', '4'], ['15403', '3.8', '1130', '5', '0'], ['09798', '4.7', '810', '10', '5'], ['27887', '4.9', '1460', '8', '10'], ['97859', '3.7', '1370', '3', '1'], ['23020', '1.1', '1060', '1', '7'], ['15492', '3.2', '730', '10', '0'], ['75747', '1.1', '1410', '5', '4'], ['13396', '3.5', '1440', '8', '5'], ['07427', '3.3', '1430', '7', '7'], ['04796', '3.5', '800', '6', '9'], ['20447', '4.6', '1510', '3', '3'], ['78268', '2.8', '620', '1', '3'], ['91277', '4.7', '980', '5', '4'], ['71028', '3.1', '1600', '3', '7'], ['69643', '3.4', '1390', '3', '7'], ['91513', '1.5', '1290', '1', '5'], ['41293', '3.3', '1540', '8', '2'], ['21158', '3.2', '1310', '6', '4'], ['51567', '2.7', '940', '8', '4'], ['74913', '2.1', '1470', '3', '6'], ['07882', '1.0', '420', '1', '8'], ['91222', '3.0', '1200', '8', '8'], ['08142', '3.4', '480', '7', '10'], ['87039', '3.4', '1080', '2', '4'], ['49563', '4.2', '1540', '5', '10'], ['44245', '2.0', '1490', '5', '2'], ['39331', '3.2', '1460', '4', '7'], ['55516', '4.2', '550', '9', '9'], ['11419', '4.8', '1150', '6', '2'], ['10213', '2.3', '560', '4', '9'], ['61078', '1.2', '1100', '9', '10'], ['95575', '1.2', '1000', '6', '2'], ['65040', '2.7', '550', '7', '10'], ['81317', '3.8', '1510', '2', '0'], ['61750', '3.4', '1470', '5', '2'], ['73326', '1.8', '1220', '8', '1'], ['89089', '2.3', '1080', '5', '5'], ['20665', '3.5', '1410', '3', '5'], ['45966', '1.3', '1450', '3', '9'], ['50146', '2.3', '1510', '1', '1'], ['16549', '3.0', '1260', '7', '3'], ['15949', '4.6', '450', '6', '2']]

In [4]:
# Get columns in separate arrays

id_list = []
gpa_list = []
sat_list = []
curr_strength_list = []
dem_interest_list = []

for i in range(81):
    id_list.append(case_list[i][0])
    gpa_list.append(case_list[i][1])
    sat_list.append(case_list[i][2])
    curr_strength_list.append(case_list[i][3])
    dem_interest_list.append(case_list[i][4])
    
print(id_list)
print(gpa_list)
print(sat_list)
print(curr_strength_list)
print(dem_interest_list)

['01980', '26530', '41791', '14462', '92788', '88283', '26825', '37759', '96928', '91917', '51986', '30894', '64636', '55939', '02002', '60298', '56749', '54653', '46090', '54685', '59304', '72880', '87664', '67192', '94506', '15091', '53862', '28885', '37718', '91377', '74542', '00990', '79816', '64055', '73280', '55203', '30109', '46328', '86485', '15403', '09798', '27887', '97859', '23020', '15492', '75747', '13396', '07427', '04796', '20447', '78268', '91277', '71028', '69643', '91513', '41293', '21158', '51567', '74913', '07882', '91222', '08142', '87039', '49563', '44245', '39331', '55516', '11419', '10213', '61078', '95575', '65040', '81317', '61750', '73326', '89089', '20665', '45966', '50146', '16549', '15949']
['2.6', '4.9', '3.8', '1.1', '2.4', '3.3', '4.2', '1.8', '4.5', '4.7', '4.2', '4.5', '4.3', '2.6', '3.7', '4.9', '1.7', '4.6', '1.3', '3.9', '4.1', '4.1', '2.7', '4.3', '1.6', '4.7', '4.4', '3.1', '4.0', '2.6', '4.5', '3.7', '3.5', '5.0', '4.2', '3.1', '4.7', '3.1', '1.4', '3.8', '4.7', '4.9', '3.7', '1.1', '3.2', '1.1', '3.5', '3.3', '3.5', '4.6', '2.8', '4.7', '3.1', '3.4', '1.5', '3.3', '3.2', '2.7', '2.1', '1.0', '3.0', '3.4', '3.4', '4.2', '2.0', '3.2', '4.2', '4.8', '2.3', '1.2', '1.2', '2.7', '3.8', '3.4', '1.8', '2.3', '3.5', '1.3', '2.3', '3.0', '4.6']
['1510', '1130', '630', '1100', '1080', '740', '1350', '1160', '1570', '870', '1090', '830', '1040', '430', '1210', '1470', '1530', '1430', '860', '1300', '1170', '1060', '1590', '1000', '1490', '1330', '1260', '1540', '800', '1080', '1410', '970', '840', '1550', '1530', '570', '1220', '930', '1030', '1130', '810', '1460', '1370', '1060', '730', '1410', '1440', '1430', '800', '1510', '620', '980', '1600', '1390', '1290', '1540', '1310', '940', '1470', '420', '1200', '480', '1080', '1540', '1490', '1460', '550', '1150', '560', '1100', '1000', '550', '1510', '1470', '1220', '1080', '1410', '1450', '1510', '1260', '450']
['9', '7', '4', '4', '1', '2', '1', '4', '3', '1', '9', '7', '3', '3', '4', '6', '9', '8', '9', '8', '7', '2', '6', '3', '9', '6', '4', '5', '6', '10', '5', '3', '3', '2', '10', '6', '2', '7', '4', '5', '10', '8', '3', '1', '10', '5', '8', '7', '6', '3', '1', '5', '3', '3', '1', '8', '6', '8', '3', '1', '8', '7', '2', '5', '5', '4', '9', '6', '4', '9', '6', '7', '2', '5', '8', '5', '3', '3', '1', '7', '6']
['4', '0', '2', '3', '0', '8', '5', '8', '7', '6', '4', '1', '2', '5', '9', '0', '2', '6', '3', '6', '7', '7', '9', '9', '8', '4', '10', '6', '9', '4', '6', '1', '6', '6', '3', '5', '2', '4', '4', '0', '5', '10', '1', '7', '0', '4', '5', '7', '9', '3', '3', '4', '7', '7', '5', '2', '4', '4', '6', '8', '8', '10', '4', '10', '2', '7', '9', '2', '9', '10', '2', '10', '0', '2', '1', '5', '5', '9', '1', '3', '2']

In [5]:
## TODO: leave 4 yr grades out for now
# Add 4 year grades--change to gpa's?

random.seed(3)
year1_grade_list = []
year2_grade_list = []
year3_grade_list = []
year4_grade_list = []

for i in range(81):
    year1_grade_list.append(random.randint(50,100))
for i in range(81):
    year2_grade_list.append(random.randint(50,100))
for i in range(81):
    year3_grade_list.append(random.randint(50,100))
for i in range(81):
    year4_grade_list.append(random.randint(50,100))

In [6]:
# Read into dataframe

d = {'Student_ID': id_list,
     'GPA': gpa_list,
     'SAT': sat_list,
     'Strength_HS_Curr': curr_strength_list,
     'Dem_Interest': dem_interest_list}
df = pd.DataFrame(data=d)
df

   Student_ID  GPA   SAT Strength_HS_Curr Dem_Interest
0       01980  2.6  1510                9            4
1       26530  4.9  1130                7            0
2       41791  3.8   630                4            2
3       14462  1.1  1100                4            3
4       92788  2.4  1080                1            0
..        ...  ...   ...              ...          ...
76      20665  3.5  1410                3            5
77      45966  1.3  1450                3            9
78      50146  2.3  1510                1            1
79      16549  3.0  1260                7            3
80      15949  4.6   450                6            2

[81 rows x 5 columns]

In [8]:
# Test

df.to_csv('./dataset1.csv', index=False, header=False)
ds1 = pd.read_csv('./dataset1.csv', dtype='str') # must specify dtype
ds1

    01980  2.6  1510  9  4
0   26530  4.9  1130  7  0
1   41791  3.8   630  4  2
2   14462  1.1  1100  4  3
3   92788  2.4  1080  1  0
4   88283  3.3   740  2  8
..    ...  ...   ... .. ..
75  20665  3.5  1410  3  5
76  45966  1.3  1450  3  9
77  50146  2.3  1510  1  1
78  16549  3.0  1260  7  3
79  15949  4.6   450  6  2

[80 rows x 5 columns]