In [1]:
import pandas as pd
import numpy as np
import random

In [2]:
# Get a random number between 2 numbers in an array,
# specify decimal places (int)

def rand(range_array, decimal_places):
    low = min(range_array)
    high = max(range_array)
    if decimal_places == 0:
        return random.randint(low, high)
    elif decimal_places < 0:
        return int(round(random.uniform(low, high), decimal_places))
    else:
        return round(random.uniform(low, high), decimal_places)

In [3]:
# Generate case list

high_GPA_range = [4.0, 5.0]
avg_GPA_range = [3.0, 3.9]
low_GPA_range = [1.0, 2.9]
GPA_ranges = [high_GPA_range, avg_GPA_range, low_GPA_range]

high_SAT_range = [1400, 1600]
avg_SAT_range = [1050, 1390]
low_SAT_range = [400, 1040]
SAT_ranges = [high_SAT_range, avg_SAT_range, low_SAT_range]

high_curr_range = [7, 10]
avg_curr_range = [4, 6]
low_curr_range = [1, 3]
curr_ranges = [high_curr_range, avg_curr_range, low_curr_range]

high_interest_range = [7, 10]
avg_interest_range = [4, 6]
low_interest_range = [0, 3]
interest_ranges = [high_interest_range, avg_interest_range,
                   low_interest_range]


case_list = []
random.seed(111)

for i in range(len(GPA_ranges)):
    for j in range(len(SAT_ranges)):
        for k in range(len(curr_ranges)):
            for l in range(len(interest_ranges)):
                rand_ID = str(random.randint(0, 99999)).zfill(5)
                rand_gpa = rand(GPA_ranges[i], 1)
                rand_sat = rand(SAT_ranges[j], -1)
                rand_curr_strength = rand(curr_ranges[k], 0)
                rand_dem_interest = rand(interest_ranges[l], 0)
                case_list.append([str(rand_ID), str(rand_gpa),
                                  str(rand_sat), str(rand_curr_strength),
                                  str(rand_dem_interest)])
                # Randomize order
                random.shuffle(case_list)

In [4]:
# Get columns in separate arrays

id_list = []
gpa_list = []
sat_list = []
curr_strength_list = []
dem_interest_list = []

for i in range(81):
    id_list.append(case_list[i][0])
    gpa_list.append(case_list[i][1])
    sat_list.append(case_list[i][2])
    curr_strength_list.append(case_list[i][3])
    dem_interest_list.append(case_list[i][4])

In [5]:
# Note: Original assignment had data on student grades over 4 years
# I decided to leave this section out

In [6]:
# Read into dataframe -> csv

d = {'Student_ID': id_list,
     'GPA': gpa_list,
     'SAT': sat_list,
     'Strength_HS_Curr': curr_strength_list,
     'Dem_Interest': dem_interest_list}
df = pd.DataFrame(data=d)
df.to_csv('./dataset1.csv', index=False, header=False)

In [7]:
# Test

ds1 = pd.read_csv('./dataset1.csv', dtype='str') # must specify dtype
ds1

    01980  2.6  1510  9  4
0   26530  4.9  1130  7  0
1   41791  3.8   630  4  2
2   14462  1.1  1100  4  3
3   92788  2.4  1080  1  0
4   88283  3.3   740  2  8
..    ...  ...   ... .. ..
75  20665  3.5  1410  3  5
76  45966  1.3  1450  3  9
77  50146  2.3  1510  1  1
78  16549  3.0  1260  7  3
79  15949  4.6   450  6  2

[80 rows x 5 columns]